<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/jquery.min.js"></script>
    <script src="/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.3.0/peerjs.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Video Call</title>
</head>

<body>
    <!-- <video class="friend_video" id="video" preload="none" autoplay></video>
    <video class="my_video" id="localVideo" preload="none"  autoplay muted></video>
    <button id="cancel" class="btn btn-cancel">Cancel</button> -->
    <div id="draggable">
        <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
        <div id="draggableheader">Click here to move</div>
        <video class="my_video" id="localVideo" preload="none" autoplay muted></video>
    </div>
    <video class="friend_video" id="video" preload="none" autoplay></video>
    <button id="cancel" class="btn btn-cancel">Cancel</button>
    <script src="/videoCall.js"></script>
    <script src="/draggable.js"></script>
</body>

</html>