<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/jquery.min.js"></script>
  <script src="/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.3.0/peerjs.js"></script>
  <title>Document</title>
</head>

<body id="body">
  <div id="music">
  </div>
  <div id="login">
    <input type="text" id="email">
    <input type="password" id="password">
    <button id="btnLogin">Login</button>
  </div>
    <br>
      <video id = "localStream" width = "300px" controll>
    </video>
    <video id = "remoteStream" width = "300px" controll>
    </video>
    <br>
    Notify: <label id = "notify"></label>
  <div id = "getInfo" hidden>
    <button id="btnGetInfo">Lấy thông tin</button>
  </div>
  <div id = "chat-list" hidden>
    <label>Hello: </label>
    <label id="name"></label>
    <h2>Danh sách bạn bè</h2>
    <ul>
    
    </ul>
  </div>
  
  <div id = "chat" hidden>
    <br>
    <button id="leave-room">Leave</button>
    <br>
    <button id="btnCall">Call</button>
    <input id="musicUrl" placeholder="music url">
    <button id="btnRequestMusic" >Request Music</button>
    <button id="btnAcceptRequestMusic"hidden>Accept Music</button>
    <button id="btnCancelRequestMusic"hidden>Cancel Music</button>

    <button id="btnAnswer" hidden>Answer</button>
    <button id="btnCancel" hidden>Cancel</button>
    <label>Nhắn tin với: </label>
    <label id="name-chat"></label>
    <h2>Danh sách tin nhắn</h2>
    <div id="messages" style="height: 500px;">
    </div>
    <div>
      <textarea id="send-message">
        gửi gì đó đi
      </textarea>
      <button id="btn-send-message">Gửi</button>
    </div>
  </div>
  <script src="/socket.js"></script>
</body>

</html>