<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/jquery.min.js"></script>
  <script src="/peerjs.min.js"></script>
  <script src="/socket.io.js"></script>
  <title>Document</title>
</head>

<body>
  <h3 id="yourId">Your Id: </h3>
  <video id = "localStream" width = "300px" controll>
  </video>

  <video id = "remoteStream" width = "300px" controll>
  </video>
  <br>
  <input type="text" id="remoteId" placeholders = "Remote Id">
  <button id="btnCall">Call</button>
  <button id="btnCancel">Cancel</button>
  <button id="btnAnswer">Answer</button>
  <br>
  <label id="notify">Thông báo: </label>
  <script src="/webRtc.js"></script>
</body>