html,
body {
	margin: 0;
	box-sizing: border-box;
}
body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}

video.my_video {
	width: 100%;
	height: 100%;
}
video.friend_video {
	width: 100%;
	height: 100%;
}

.btn {
	position: fixed;
	bottom: 20px;
	left: 50%;
	padding: 0.5rem 1rem;
	border: none;
	outline: rgba(0, 0, 0, 0.5);
	outline-width: 1px;
}
.btn-cancel {
	background-color: #3d3d3d;
	border-radius: 10px;
	color: #fff;
	transition: 0.15s all ease-in-out;
	cursor: pointer;
}
.btn-cancel:hover {
	background-color: rgba(61, 61, 61, 0.5);
}

#draggable {
	position: absolute;
	width: 300px;
	height: 200px;
	right: 20px;
	bottom: 50px;
	z-index: 9;
	background-color: transparent;
	text-align: center;
}

#draggableheader {
	padding: 10px;
	cursor: move;
	z-index: 10;
	background-color: #2196f3;
	color: #fff;
}
